name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Build
        run: |
          xcodebuild -scheme SparseBox -derivedDataPath build -destination 'generic/platform=iOS' CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
          mkdir -p Payload packages
          cp -R build/Build/Products/Debug-iphoneos/SparseBox.app Payload/
          zip -r packages/SparseBox.ipa Payload
          rm -rf Payload

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: artifact
          path: packages/*.ipa
